<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Olowu Ayomide</h4>
            <p><em>Physiotherapist, Innovative and driven Python and Django web developer currently mastering the Django Framework </em></p>
            <ul>
              <li>Lagos, Nigeria</li>
              <li>(+234) 812 666 0484 </li>
              <li>Theolowuayo@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Physiotherapy</h4>
            <h5>2015 - 2020</h5>
            <p><em>University of Lagos Lagos,Nigeria</em></p>
            <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
          </div>
         </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Try Kibo Experience</h4>
            <h5>2022</h5>
            <p><em>Kibo, New York, NY </em></p>
            <ul>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
              
            </ul>
          </div>
          
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
